<div class="logowanie">
    <h2>Logowanie</h2>
    <form (ngSubmit)="logowanie()" #form="ngform">
        <div class="form-group">
            <label for="username">Uzytkownik:</label>
            <input type="text" id="username" name="username" [(ngModel)]="formData.username" required></input>
        </div>
        <div class="form-group">
            <label for="username">Haslo:</label>
            <input type="password" id="password" name="password" [(ngModel)]="formData.password" required></input>
        </div>
        <button type="submit" [disabled]="form.invalid">Zaloguj</button>
    </form>
</div>